@model ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_Public_Layout.cshtml";
}
<section class="page-section" id="district-forms">
    <div class="container">
        <div class="row">
            <h2 class="page-section-heading text-center text-uppercase mb-5">
                District Forms
            </h2>
@* Index Of Forms *@
            <table id="downloadsTable" class="table table-bordered table-striped shadow" style="width:100%;">
                <thead>
                    <tr>
                        <th>Index of Forms</th>
                    </tr>
                </thead>
                <tbody>
@foreach (var form in Model._indexofforms)
            {
                <tr>
                     <td><a href="#">@Html.DisplayFor(modelItem => form.FormName)</a></td>
                </tr>
            }
                </tbody>
            </table>
@* District Forms *@
            <br />
            <br />
            <h5 style="padding:0px;margin:0px;">District Forms</h5>
 <table id="downloadsTable" class="table table-bordered table-striped shadow" style="width:100%;">
    <thead>
        <tr>
            <th>Form Type</th>
            <th>Form Number</th>
            <th>Form Name</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model._formdownload)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormNumber)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.FormUrl)">@Html.DisplayFor(modelItem => item.FormName)</a>
            </td>
        </tr>
    }
    </tbody>
     </table>
     @* End District Forms *@

     @* Site Based Contracts *@
            <table id="downloadsTable" class="table table-bordered table-striped shadow" style="width:100%;">
                <thead>
                    <tr>
                        <th>Site Based Contracts</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contract in Model._sitebasedcontracts)
                    {
                        <tr>
                            <td><a href="">@Html.DisplayFor(modelItem => contract.FormName)</a></td>
                        </tr>
                    }
                </tbody>
            </table>
     @* End Site Based Contracts *@

     @* Current Evaluations *@
            <table id="downloadsTable" class="table table-bordered table-striped shadow" style="width:100%;">
                <thead>
                    <tr>
                        <th>Current Evaluations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contract in Model._currentevaluations)
                    {
                        <tr>
                            <td><a href="">@Html.DisplayFor(modelItem => contract.FormName)</a></td>
                        </tr>
                    }
                </tbody>
            </table>
     @* End Current Evaluations *@
     </div>
     </div>
     </section>